body {
    background-color: white;
    overflow-x: hidden;
}


.header {
    background-color: rgb(72, 71, 71);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    transition: all;
    padding-top: 9px;
    padding-bottom: 9px;
    transition-duration: 400ms;
    justify-items: center;
}

.logo {
    height: 80px;
    padding-left: 7px;
    border-radius: 60px;
    display: flex;
    align-items: center;
}

.name {
    color: white;
    padding-right: 40px;
    padding-left: 20px;
}

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: white;
    padding-right: 40px;
    color: #fff;
}

.input-search::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;

}

.btn-search:hover~.input-search {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:hover {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.fa-search {
    color: black;
    margin-left: -20px;
}


#myUL {
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 80px;
    z-index: 6;
    margin: 0;
    background-color: whitesmoke;
}

#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

i {
    color: white;
    display: inline-block;
    padding-left: 20px;
    margin-left: 20px;
}

.btnlog {
    border: none;
    background-color: transparent;
}

.head {
    margin-left: 10px;
    display: flex;
}

.dropdown {
    margin-top: 15px;
}

.btn {
    background-color: white;
    border-radius: 20px;
    color: black;
}

.head1 {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    font-size: 20px;
    padding: 5px;
    display: inline-block;

}

.head1:hover {
    text-decoration: none;
    transition: 0.5ms;
    color: wheat;
}

/* Imagees */
.section-p2 {
    padding: 40px 80px;
}

#product1 {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    cursor: pointer;
    margin: 15px 0;

}

#product1 .pro:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des span {
    font-size: 12px;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

#product1 .pro-container .img {
    padding-top: 50px;
}

.img6:hover {
    transform: scale(1.25);
    transition: all 0.2s ease-in-out;
}


.img6 {
    height: 375px;
}

/*FOOTER*/
footer {
    background-color: rgb(72, 71, 71);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.fimage {
    align-items: center;
}

.fimages {
    padding-top: 5%;
    padding-bottom: 5%;
    width: auto;
    height: 400px;
}


.footerh {
    color: white;
    text-align: center;
    padding-top: 15%;
}

.contacth6 {
    color: white;
    text-decoration: none;
    text-align: center;

}

.ancher {
    color: white;
    text-decoration: none;
}

.ancher:hover {
    color: wheat;
    cursor: pointer;
}

.contacti {
    margin-left: 0px;
    padding-left: 0px;
}

/* ADD TO CART */
.addbtn {
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
}

.addbtn:hover {
    background-color: #a7e393;
}

@media only screen and (max-width: 900px) {
    .header {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 650px) {
    .head {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}